
<div class="cont">
  <h1 style="margin-left: 11%">{{name}}</h1>
  <div class="form-group joinForm">
    {{#if notWorking}}
    <form action="/Join/{{compId}}" method="POST">
      <div class="row">
        <div class="col">
          <input class="form-control" type="text" name="name" placeholder="add Your position" required>
        </div>
        <div class="col">
          <input class=" butt btn btn-success" type="submit" value="join">
        </div>
      </div>
    </form>
    {{/if}}
  </div>
</div>
<hr>
<div class="tables">
  <h4>Current Employees:</h4>
  <table class="table table-striped table-dark empTab">
    <thead>
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">Employee</th>
        <th scope="col">Role</th>
        <th scope="col">JoinedDate</th>
      </tr>
    </thead>
    <tbody>
      {{#each curEmps}}
      <tr>
        <td scope="row"></td>
        <td>{{this.name}}</td>
        <td>{{this.role}}</td>
        <td>{{this.joiningDate}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h4>Ex Employees:</h4>
  <table class="table table-striped table-dark exTab">
    <thead>
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">Employee</th>
        <th scope="col">Role</th>
        <th scope="col">JoinedDate</th>
        <th scope="col">resignedDate</th>
      </tr>
    </thead>
    <tbody>
      {{#each exEmps}}
      <tr>
        <td scope="row"></td>
        <td>{{this.name}}</td>
        <td>{{this.role}}</td>
        <td>{{this.joiningDate}}</td>
        <td>{{this.resignDate}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
